---
layout: default
title: Unique
---

<header>
    <div class="container">
        <div class="column">
            <div>
                <h1>{{ site.data.context.header.title }}</h1>
                <p>{{ site.data.context.header.text }}</p>
            </div>
        </div>
        <div class="column">
            <img src="{{ site.baseurl }}{{ site.data.context.header.image }}" alt="Crepes">
        </div>
    </div>
</header>

<div class="container">
    <h2 style="text-align: center;">{{ site.data.context.subheader.title }}</h2>

    <ul class="thirds">
        {% for value in site.data.context.subheader.values %}
        <li>
            <div class="image">{% include icons.html icon=value.icon %}</div>
            <h3>{{ value.headline }}</h3>
            <p>{{ value.text }}</p>
        </li>
        {% endfor %}
    </ul>
</div>

<div class="container">
    <div class="columns">
        <div>
            <img src="{{ site.baseurl }}{{ site.data.context.about.image }}" alt="Hands">
        </div>

        <div>
            <h2>{{ site.data.context.about.title }}</h2>
            <p>{{ site.data.context.about.text }}</p>
        </div>
    </div>
</div>

<div class="container">
    <hr>
    <blockquote>
        <p class="quote">{{ site.data.context.quote.text }}</p>

        <div class="attribute">
            <p class="meta">
                <span class="image"><img src="{{ site.baseurl }}{{ site.data.context.quote.reviewer.image }}" alt="Reviewer"></span>
                <span class="author"><strong>{{ site.data.context.quote.reviewer.name }}</strong></span>
            </p>
        </div>
    </blockquote>
</div>
